@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

.stroke {
    -webkit-text-fill-color: rgb(59, 225, 236);
    -webkit-text-stroke: 0.5px black;
    }
*{
    font-family: 'Fira Code', monospace;
}
